@import './variables.styl';

.highlight:hover {
    background-color: $primary-color;
    border-bottom: 3px solid $dark-primary-color;
    border-radius: 5px 5px 0 0;
    cursor: pointer;

    img {
        border: none;
        box-shadow: 0 0 5px 5px $text;
    }

    p {
        color: $text !important;
    }
}