// 颜色定义规范
$dark-primary-color = #D32F2F;
$light-primary-color = #FFCDD2;
$primary-color = #F44336;
$text = #FFFFFF;
$primary-text = #FF5252;
$firstly-text = #212121;
$firstly-text-transparent = rgba(33, 33, 33, 0.8);
$secondary-text = #757575;
$divider-color = #BDBDBD;
$grey-color = #eeeeee;
// 字体大小
$font-size-title = 64px;
$font-size-ultra = 38px;
$font-size-big = 30px;
$font-size-icon = 18px;
$font-size-mid = 14px;
$font-size-small = 12px;
